@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Apply the font globally */
body {
  font-family: "Kanit", sans-serif;
}

@media only screen and (max-width: 744px) {
  .pc-version {
    display: none;
  }
}
@media only screen and (min-width: 744px) {
  .pc-version-slide nav {
    margin-right: 50px;
    margin-left: 50px;
  }
  .mobile-version {
    display: none;
  }
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit-based browsers */
}

.custom-scrollbar-hide {
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
